@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);
body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 26px; }

h2 {
  margin: 0 0 40px 0;
  padding: 25px 0 25px 0;
  font-weight: bold;
  font-size: 32px;
  line-height: 40px;
  text-align: center;
  background: #fff;
  color: #0D47A1;
  border-bottom: 2px solid #0D47A1; }

h3 {
  margin: 50px 0;
  font-weight: bold;
  color: #0D47A1; }

h3.first {
  margin-top: 0; }

h4 {
  margin: 40px 0;
  font-weight: bold;
  color: #0D47A1; }

pre {
  padding-top: 30px;
  margin-top: 40px; }

a {
  font-weight: bold;
  color: #039BE5; }

a:hover {
  color: #0D47A1; }

#links ul {
  list-style-type: none; }

.alert {
  padding-left: 30px; }

.table > tbody > tr > td, .table > tbody > tr > th,
.table > tfoot > tr > td, .table > tfoot > tr > th,
.table > thead > tr > td, .table > thead > tr > th {
  border-top: none;
  padding: 15px 8px 13px 8px; }

.table img {
  border: 1px solid #999; }

.table > tbody {
  border-bottom: 2px solid #ddd;
  border-left: 2px solid #ddd;
  border-right: 2px solid #ddd; }

.clear {
  clear: both; }

.btn-primary {
  background-color: #039BE5;
  border: 1px solid #039BE5; }

.btn-primary:hover {
  background-color: #0D47A1;
  border: 1px solid #0D47A1; }

.btn-link {
  color: #039BE5; }

.btn {
  margin-bottom: 10px; }

.checkbox-line {
  margin-bottom: 40px; }

.img-blue {
  border: 1px solid #0D47A1; }

@media (min-width: 768px) {
  h3.first {
    margin-top: 50px; } }

@media (min-width: 992px) {
  h3.first {
    margin-top: 0; } }

@media (min-width: 1200px) {
  h3.first {
    margin-top: 0; } }

@media (min-width: 1500px) {
  h3.first {
    margin-top: 0; } }

.navbar {
  margin-bottom: 0px;
  padding: 5px 0; }

.navbar-brand {
  padding: 0 15px 0 25px;
  margin-top: 2px; }

.navbar-brand img {
  width: 50px; }

.navbar-nav > li > a {
  padding-top: 10px; }

.navbar-default,
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  background: #0D47A1;
  border: none; }

.navbar-default .navbar-nav > li > a {
  color: #ffffff; }

.navbar-default .navbar-nav > li > a:hover {
  color: #FFF176; }

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:hover {
  background: #0D47A1;
  color: #FFF176;
  text-decoration: underline; }

.nav .open > a,
.nav .open > a:focus, .nav .open > a:hover,
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:focus,
.navbar-default .navbar-nav > .open > a:hover {
  background: #0D47A1; }

.dropdown-menu {
  background: #0D47A1; }

.dropdown-menu > li > a {
  color: #ffffff; }

.dropdown-menu > li > a:hover {
  background: #0D47A1;
  color: #FFF176; }

.navbar-default .navbar-nav .open .dropdown-menu > li > a {
  color: #ffffff; }

.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover {
  color: #FFF176; }

.navbar-form {
  margin-top: 6px;
  margin-bottom: 0; }

@media (min-width: 768px) {
  .navbar-nav > li > a {
    padding-top: 18px; } }

/* FOOTER ------------------------------------------------------------------- */
footer {
  background: #B3E5FC; }

footer .container {
  background: #B3E5FC;
  color: #0D47A1;
  padding-bottom: 30px;
  font-size: 13px;
  line-height: 21px; }

.footer-links-row {
  padding: 0 200px; }

.footer-title {
  font-weight: bold;
  margin-top: 50px; }

.footer-title-top {
  margin-bottom: 8px; }

.footer-logo-row {
  text-align: center; }

.footer-logo img {
  margin-top: -26px;
  margin-bottom: 0px;
  border: none; }

.social-icons-row {
  text-align: center;
  padding-top: 50px; }

i.fa {
  margin-left: 6px;
  margin-right: 6px; }

.copyright {
  height: 50px;
  color: #039BE5;
  font-size: 12px;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  background: #0D47A1; }

@media (min-width: 992px) {
  .footer-list-middle {
    padding-left: 45px; } }

.navbar-form .form-group {
  vertical-align: top; }

.navbar button, .navbar input {
  margin-top: 4px; }

.navbar-form input.form-control {
  color: #039BE5;
  border: 1px solid #0D47A1; }

.btn-primary:hover {
  background-color: #FFF176;
  border: 1px solid #FFF176;
  color: #0D47A1; }

.standings table > tbody {
  border-top: 2px solid #ddd; }

.standings-team {
  width: 40%; }

.standings-w, .standings-l, .standings-pct, .standings-gb {
  width: 15%; }

.team-totals span {
  margin-right: 40px; }

.home-page h3:first-child {
  margin-top: 50px; }

.home-page h3 {
  margin-bottom: 20px; }

.home-page {
  padding-bottom: 60px; }

.franchises-page,
.players-page,
.team-page {
  padding-top: 20px;
  padding-bottom: 60px; }

.player-page {
  padding-top: 0;
  padding-bottom: 60px; }

.standings-page {
  margin-top: -40px;
  padding-top: 0;
  padding-bottom: 60px; }

.franchises-page {
  padding-top: 0;
  padding-bottom: 60px; }

.team-franchise-page {
  padding-top: 0;
  padding-bottom: 30px; }

/*# sourceMappingURL=app.css.map */