@import 'variables';

.navbar-form .form-group {
  vertical-align: top;
}
.navbar button, .navbar input {
  margin-top: 4px;
}
.navbar-form input.form-control {
  color: $primary-color;
  border: 1px solid $secondary-color;
}
.btn-primary:hover {
  background-color: $accent-color;
  border: 1px solid $accent-color;
  color: $secondary-color;
}
.standings table > tbody {
  border-top: 2px solid #ddd;
}
.standings-team {
  width: 40%;
}
.standings-w, .standings-l, .standings-pct, .standings-gb  {
  width: 15%;
}
.team-totals span {
  margin-right: 40px;
}

.home-page h3:first-child {
  margin-top:  50px;
}
.home-page h3 {
  margin-bottom:  20px;
}
.home-page {
  padding-bottom: 60px;
}
.franchises-page,
.players-page,
.team-page {
  padding-top: 20px;
  padding-bottom: 60px;
}
.player-page {
  padding-top: 0;
  padding-bottom: 60px;
}
.standings-page {
  margin-top: -40px;
  padding-top: 0;
  padding-bottom: 60px;
}
.franchises-page {
  padding-top: 0;
  padding-bottom: 60px;
}
.team-franchise-page {
  padding-top: 0;
  padding-bottom: 30px;
}
